@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	font-family: "Inter", sans-serif;
}

.Titre {
	font-family: "ThunderLC", ThunderLC;
	font-weight: 800;
	font-size: 124px;
	margin-bottom: 1rem;
	margin-top: 3rem;
	text-align: end;
	line-height: 94px;
	color: #ff3867;
}

.Homme {
	position: absolute;
	z-index: -1;
	left: -59px;
	width: 262px;
	top: -51px;
}

.subtitle {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 24px;
	max-width: 216px;
	text-align: right;
}

.paragraph {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	max-width: 216px;
	margin-top: 1rem;
	text-align: right;
}

.conponent {
	margin-right: 22px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.SizeImage {
	width: 359px;
	display: block;
	margin: 0 auto;
	margin-top: 3rem;
}

.compte {
	margin-top: 1rem;
	padding: 5px;
	background-color: #ffd128;
	color: black;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
}
/* .backgroundCardBleu {

	background-color: #DAF9FF;
	width: 18rem;
	height:27rem;


	max-width: 374px;
	margin: 0 auto;
}

.BlueCard {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	display: block;
	height: 210px;
} */
.parentCard {
	margin-top: 5rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.card {
	margin: 0 auto;
	position: relative;
	max-width: 374px;
	margin-bottom: 5rem;
}
.card-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 0;
	display: flex;
	justify-content: space-between;
}
.bgBlue {
	background: #daf9ff;
	/* height: 100%; */
	width: 250px;
	height: 434px;
	padding-top: 200px;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.BlueCard {
	/* width: 100%; */
	position: absolute;
	inset: 0;
	z-index: 10;
	top: -32px;
	left: 10px;
}

.card-wrapper > svg {
	margin-top: 190px;
	margin-right: 16px;
}

.bgBlue svg {
	margin-right: 8px;
}
.card-item-check {
	margin-top: 11px;
	display: flex;
	align-items: center;
	font-size: 20px;
}
.card-button {
	margin-bottom: -23px;
	padding: 11px 40px;
	color: white;

	background: #00b4d8;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
}

.card-button-red {
	margin-bottom: -23px;
	padding: 11px 40px;
	color: white;

	background: #ff3867;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
}

.bgRed {
	background: #ffeef2;
	/* height: 100%; */
	width: 250px;
	height: 434px;
	padding-top: 200px;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.redCard {
	/* width: 100%; */
	position: absolute;
	inset: 0;
	z-index: 10;
	top: -32px;
	left: 10px;
}

.greenCard {
	/* width: 100%; */
	position: absolute;
	inset: 0;
	z-index: 10;
	top: -32px;
	left: 10px;
}

.bgGreen {
	background: #e2fff1;
	/* height: 100%; */
	width: 250px;
	height: 434px;
	padding-top: 200px;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-button-green {
	margin-bottom: -23px;
	padding: 11px 40px;
	color: white;

	background: #00ef7e;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
}

.number {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 50px;

	color: #ff3867;
}

.card-button-add {
	padding: 0.5rem;
	color: white;

	background: #00ef7e;
	font-family: Inter;

	font-weight: bold;
	font-size: 16px;

	text-align: center;
	margin-right: 2rem;
}
.card-button-supp {
	padding: 0.5rem;

	color: white;

	background: red;
	font-family: Inter;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.money {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 24px;
	max-width: 216px;
	text-align: right;
	border: solid 1px black;
	margin: 1rem;
	margin-left: 3.5rem;
}
.courant {
	background-color: #fff6d4;
	max-width: 466px;
	padding-bottom: 1rem;
}

.name {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.coffre {
	max-width: 122px;
	margin-right: 15px;
}
.illustration {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonAddSupp {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.indication {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner {
	background-color: #ffd128;
	height: 60px;
}
.pdp {
	max-width: 100px;
}

.NameSurname {
	font-family: ThunderLC;
	font-weight: 700;
	font-size: 40px;
	line-height: 35px;
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: -47px;
	margin-bottom: 2rem;
}

.savingsBlock {
	background-color: #fff6d4;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}
.inputName {
	border: solid 1px black;
	padding: 0.5rem;
	border-radius: 5px;
}
.containerButton {
	display: flex;
	flex-direction: row;
	/* ali */
	align-items: flex-end;
}

.buttonModal {
	border: solid 2px #ffd128;
	padding: 4px;
	border-radius: 5px;
	align-items: flex-end;
	margin-left: 1rem;
	margin-bottom: 6px;
}
.buttonModalCompte {
	background-color: #ff3867;
	color: #ffffff;
	padding: 6px;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 5px;
	align-items: flex-end;

	margin-top: 1rem;
}

.footerText {
	font-family: "ThunderLC", ThunderLC;
	font-weight: 900;
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}
.divFooter {
	background-color: #ffd128;
	height: 80px;
	width: 100%;

}
.ChooseImage{
	align-content: center;
}



















